spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://mysql-db:3306/appdb?useSSL=false&serverTimezone=Asia/Ho_Chi_Minh}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:123456}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.MySQL8Dialect

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  address: 0.0.0.0
  port: ${SERVER_PORT:8080}
  application:
    name: inventory-service

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME:dxr2k9oz2}
  api-key: ${CLOUDINARY_API_KEY:196537191738478}
  api-secret: ${CLOUDINARY_API_SECRET:LaYMCuRb2qypeH8CXJa9AWeq1z0}

jwt:
  secret: ${JWT_SECRET:VExzN0s2V3p5R2Q1eXJzM29IVG95MFRhUG5nMUFzV1pCenFhWkYxclR0T29rUjJvT3pYckQ0UHVtN09uSjlSNEQxQ0FpY1BicHlCbmJsdmE1c293M01LQXlKMGZ5MXU=}

